html,
button {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  color: white;
}

button {
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-image: url(./images/background-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.h1-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  font-size: 1.5em;
  margin-top: 10px;
  height: 10vh;
}
.h1-wrap h1 {
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.11);
}

.links {
  display: none;
}

.project-1-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.project-1-wrapper h2 {
  font-size: 2.5em;
  font-weight: 500;
  margin: 10px;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.11);
}

.wrapper-1 {
  border: solid 1px white;
  height: fit-content;
  width: 80vw;
  border-radius: 15px;

  display: flex;
  justify-content: ;
  align-items: center;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.project-image {
  height: 40%;
  width: 100%;
  border: none;
  margin-top: 50px;
}
.glass-wrap {
  height: 100%;
  width: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.writing-wrapper {
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 15px;
}

.project-title {
  font-size: 2em;
}

.project-text {
  font-size: 1.2em;
}

.image-2-3 {
  height: 40%;
  width: 90%;
  border: none;
  margin-top: 20px;
}

.spacing {
  height: 10px;
}

@media screen and (min-width: 500px) {
  .h1-wrap {
    width: 100%;
  }

  .h1-wrap h1 {
    font-size: 3.5em;
  }

  .project-1-wrapper h2 {
    font-size: 4em;
  }

  .project-title {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 600px) {
  .project-image {
    width: 70%;
  }

  .image-2-3 {
    width: 60%;
  }

  .writing-wrapper h3 {
    font-size: 3em;
  }

  .writing-wrapper p {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1024px) {
  .h1-wrap h1 {
    font-size: 5em;
    margin: 50px;
  }

  .project-1-wrapper h2 {
    font-size: 5em;
    margin-bottom: 30px;
  }

  .wrapper-1 {
    flex-direction: row;
  }

  .project-image {
    width: 50%;
  }

  .eagle-wrap {
    display: flex;
    flex-direction: row-reverse;
  }

  .eagle {
    margin: 0;
  }
}

@media screen and (min-width: 1235px) {
  .links {
    display: flex;
  }

  header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
  }

  header .links {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 3em;
    font-weight: 600;
  }

  .h1-wrap {
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h1-wrap h1 {
    font-size: 4.6em;
    margin: 0;
    margin-left: 0;
  }

  header .about-me:hover,
  .portfolio:hover,
  .blogs:hover,
  .contact:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .project-1-wrapper h2 {
    font-size: 6.5em;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .wrapper-1 {
    width: 70vw;
  }

  .project-image {
    width: 40%;
  }
}

@media screen and (min-width: 1450px) {
  .writing-wrapper p {
    font-size: 1.8em;
  }

  .writing-wrapper h3 {
    font-size: 4em;
  }
  .h1-wrap h1 {
    font-size: 5em;
  }
}

@media screen and (min-width: 1600px) {
  span::after {
    content: "\A";
    white-space: pre;
  }
}

@media screen and (min-width: 1700px) {
  .writing-wrapper h3 {
    font-size: 4.5em;
  }

  .writing-wrapper p {
    font-size: 2em;
  }
  .wrapper-1 {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 2000px) {
  .wrapper-1 {
    width: 50vw;
  }
}
