html,
button {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  color: white;
}
button {
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-image: url(./images/background-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.h1-wrap {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 8em;
  font-weight: 600;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.11);
}

h1:hover {
  cursor: pointer;
}

header .links {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 3em;
  font-weight: 600;
}

header .about-me:hover,
.portfolio:hover,
.blogs:hover,
.contact:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* MAIN */

main {
  height: 80vh;
  width: 100vw;
  display: flex;
}

.left-main {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.left-border-wrap {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-boarder {
  transform: translate(25px, -80px);
  width: 50%;
  height: 50%;
  border-right: 5px solid white;
}

.left-wrap {
  height: 85%;
  width: 75%;
}

.main-title {
  font-size: 7em;
  font-weight: 600;
  margin-block-end: 0;
  margin-bottom: 0.2em;
}

.sub-title {
  font-size: 4em;
  font-weight: 400;
  margin-block-start: 0;
}

.sub-text {
  font-size: 2.8em;
  font-weight: 400;
}

aside .right-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  height: 100%;
  transform: translateX(10em);
}

.buttons {
  width: fit-content;
  margin-top: 50px;
}
.buttons button:hover {
  cursor: pointer;
  transform: translate(-1px, -1px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}
.buttons button:active {
  transform: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}

.contact-button {
  color: #6250a6;
  background-color: #59fad2;
  border-radius: 100px;

  border: none;
  font-size: 3em;
  font-weight: 600;

  padding: 8px;
  padding-left: 0.9em;
  padding-right: 0.9em;
  margin-right: 50px;
}

.about-button {
  border-radius: 100px;
  border: solid 3px white;
  background: none;

  font-size: 3em;
  font-weight: 600;

  padding: 8px;
  padding-left: 0.9em;
  padding-right: 0.9em;
}

@media only screen and (max-width: 1660px) {
  header h1 {
    text-align: center;
    margin-block-end: 0px;
  }
}

@media only screen and (max-width: 1650px) {
  .left-boarder {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 1460px) {
  .contact-button {
    margin-right: 10px;
  }
  .right-main {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-image {
    height: 80%;
  }
}

@media only screen and (max-width: 1205px) {
  .left-main {
    width: 50%;
  }
  .right-main {
    width: 50%;
    align-items: flex-start;
    flex-direction: column;
  }
  .main-image {
    height: 60%;
  }
}

@media only screen and (max-width: 1100px) {
  main {
    flex-direction: column;
  }
  header {
    display: block;
  }
  .links {
    display: none;
  }
  .links p {
    display: none;
  }

  .h1-wrap {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h1-wrap h1 {
    width: 100%;
    text-align: center;
  }
  h2 {
    text-align: center;
    border-bottom: solid white 2px;
  }
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .right-main {
    width: 100%;
    height: 60%;
    flex-direction: row;
    align-items: center;
  }
  .left-main {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .left-border-wrap {
    display: none;
  }
  .main-image {
    transform: translate(0px, 100px);
    height: 100%;
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  header h1 {
    font-size: 7em;
  }
  .main-title {
    font-size: 6em;
  }
  .sub-title {
    font-size: 3em;
  }
  .sub-text {
    font-size: 2em;
  }
}
@media only screen and (max-width: 500px) {
  header h1 {
    font-size: 6em;
  }
  .main-title {
    font-size: 3.5em;
  }
  .sub-title {
    font-size: 2em;
  }
  .sub-text {
    font-size: 1.5em;
  }
  .main-image {
    height: 80%;
    transform: none;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-button {
    font-size: 1.5em;
    border: solid white 1px;
  }
  .contact-button {
    font-size: 1.5em;
  }
}

@media only screen and (max-height: 800px) {
  .h1-wrap h1 {
    font-size: 5em;
  }
  .about-button {
    font-size: 1.5em;
    border: solid white 1px;
  }
  .contact-button {
    font-size: 1.5em;
  }
  .main-image {
    transform: translateY(30px);
  }
}
